{% extends 'country_rankings.html' %}
{% load static %}

{% block rank_title %} Ranking in {{ country }} {% endblock %}

{% block year %}
  <div class="univ-rank-year-container">
    <form action="{% url 'ranking:country_shanghai' %}" method='GET'>
      {% csrf_token %}
      <label for="year"> Year: </label>
      <select name="year" id="rank-year">
        <option value="2005"> 2005 </option>
        <option value="2006"> 2006 </option>
        <option value="2007"> 2007 </option>
        <option value="2008"> 2008 </option>
        <option value="2009"> 2009 </option>
        <option value="2010"> 2010 </option>
        <option value="2011"> 2011 </option>
        <option value="2012"> 2012 </option>
        <option value="2013"> 2013 </option>
        <option value="2014"> 2014 </option>
        <option value="2015"> 2015 </option>
      </select>
      <input type="hidden" name="country" value="{{ country }}">
      <div class="div-button">
        <button class='filter-button'> Filter </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block ranking %}
  <div class="rankings-container">
    <table class='univ-rankings'>
      <tr>
        <th> Rank </th>
        <th> University Name </th>
        <th> Year </th>
        <th> Country </th>
        <th> Details </th>
      </tr>
      {% for row in ranking %}
        <tr>
          <td> {{ row.rank }} </td>
          <td> {{ row.universityName }} </td>
          <td> {{ row.year }} </td>
          <td> {{ row.country }} </td>
          <td align=center> 
            <form action="{% url 'ranking:university' %}" method='POST'>
              {% csrf_token %}
              <button class='filter-button view-details-button'
                type="submit" name='univ' value= "{{ row.universityName }}">View Details</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      
    </table>
  </div>
  <div class="page-nav-container">
    {% if ranking.has_previous %}
      <a href="{% url 'ranking:country_shanghai' %}?page={{ranking.previous_page_number}}&country={{country}}"> Previous </a>
    {% endif %}
    {% if ranking.has_next %}
      <a href="{% url 'ranking:country_shanghai' %}?page={{ranking.next_page_number}}&country={{country}}"> Next </a>
    {% endif %}
  </div>
  <div class="div-button">
    <a href="/"><button class='back-button'> Back to Homepage </button></a>
  </div>
{% endblock %}