{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="univ-rank-title">
        <p> {% block rank_title %}{% endblock %} </p>
    </div>
    {% block university %}{% endblock %}

{% endblock %}