{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'world_rank.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="univ-rank-title">
    <p> {% block rank_title %}{% endblock %} </p>
  </div>

  <div class="univ-rank-nav-container">
    <div class="univ-nav {{ cwurActive }} ">
      <p> <a href="{% url 'ranking:world' %}"> CWUR </a> </p>
    </div>
    <div class="univ-nav {{ timesActive }}">
      <p> <a href="{% url 'ranking:world_times' %}"> Times </a> </p>
    </div>
    <div class="univ-nav {{ shanghaiActive}}">
      <p> <a href="{% url 'ranking:world_shanghai' %}"> Shanghai </a> </p>
    </div>
  </div>
  
  {% block year %}{% endblock %}
  {% block ranking %}{% endblock %}

{% endblock %}