{% extends 'details.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'university.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
{% endblock %}

{% block rank_title %} {{ local.universityName }} {% endblock %}

{% block university %}
{% if warn %}
 <p style="text-align: center;"> No University Details </p>
 <div class="div-button">
  <a href="/"><button class='back-button'> Back to Homepage </button></a>
</div>
{% else %}
  <div class="all-univ-container">
    <table class="univ-container">
      <tr>
        <th align=left> Name : </th>
        <td> <a href="{{ dbpedia.univ }}"> {{ local.universityName }} </a> </th>
      </tr>
      <tr>
        <th align=left> About : </th>
        <td> {{ dbpedia.abstract }} </th>
      </tr>
      <tr>
        <th align=left> Country : </th>
        <td> {{ local.country }} </th>
      </tr>
      <tr>
        <th align=left> City : </th>
        <td> <a href="{{ dbpedia.cityLink }}"> {{ dbpedia.city }} </a> </th>
      </tr>
      <tr>
        <th align=left> CWUR Ranking : </th>
        {% if local.cwur %}
          <td> #{{ local.cwur }} (2015) </th>
        {% else %}
          <td> Unknown </th>
        {% endif %}
      </tr>
      <tr>
        <th align=left> Times Ranking : </th>
        {% if local.times %}
          <td> #{{ local.times }} (2016) </th>
        {% else %}
          <td> Unknown </th>
        {% endif %}
      </tr>
      <tr>
        <th align=left> Shanghai Ranking : </th>
        {% if local.shanghai %}
          <td> #{{ local.shanghai }} (2015) </th>
        {% else %}
          <td> Unknown </th>
        {% endif %}
      </tr>
      <tr>
        <th align=left> Mascott : </th>
        {% if dbpedia.mascot %}
          <td> {{ dbpedia.mascot }} </th>
        {% else %}
          <td> Unknown </td>
        {% endif %}
      </tr>
      <tr>
        <th align=left> Motto : </th>
        {% if dbpedia.motto %}
          <td> {{ dbpedia.motto }} </th>
        {% else %}
          <td> Unknown </td>
        {% endif %}
      </tr>
      <tr>
        <th align=left> Number of Students : </th>
        {% if dbpedia.students %}
          <td> {{ dbpedia.students }} </th>
        {% else %}
          <td> Unknown </td>
        {% endif %}
      </tr>
      <tr>
        <th align=left> Wikipedia : </th>
        <td> <a href="{{ dbpedia.link }}" target="_blank"> {{ local.universityName }} </a> </th>
      </tr>
    </table>
  </div>
  <div class="div-button">
    <a href="/"><button class='back-button'> Back to Homepage </button></a>
  </div>
{% endif %}
{% endblock %}