{% extends 'rankings.html' %}
{% load static %}

{% block rank_title %} CWUR World Ranking {% endblock %}

{% block year %}
  <div class="univ-rank-year-container">
    <form action="{% url 'ranking:world' %}" method='GET'>
      {% csrf_token %}
      <label for="year"> Year: </label>
      <select name="year" id="rank-year">
        <option value="2012"> 2012 </option>
        <option value="2013"> 2013 </option>
        <option value="2014"> 2014 </option>
        <option value="2015"> 2015 </option>
      </select>
      <div class="div-button">
        <button class='filter-button'> Filter </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block ranking %}
  <div class="rankings-container">
    <table class='univ-rankings'>
      <tr>
        <th> Rank </th>
        <th> University Name  </th>
        <th> Year </th>
        <th> Details </th>
      </tr>
      {% for row in ranking %}
        <tr>
          <td> {{ row.rank }} </td>
          <td > {{ row.universityName }} </td>
          <td align=center> {{ row.year }} </td>
          <td align=center> <form action="{% url 'ranking:university' %}" method='POST'>
                {% csrf_token %}
                <button class='filter-button view-details-button' type="submit" name='univ' value= "{{ row.universityName }}">View Details</button>
                </form>
          </td>
        </tr>
      {% endfor %}
      
    </table>
  </div>

  <div class="page-nav-container">
    {% if ranking.has_previous %}
      <a href="{% url 'ranking:world' %}?page={{ranking.previous_page_number}}"> Previous </a>
    {% endif %}
    {% if ranking.has_next %}
      <a href="{% url 'ranking:world' %}?page={{ranking.next_page_number}}"> Next </a>
    {% endif %}
  </div>
  <div class="div-button">
    <a href="/"><button class='back-button'> Back to Homepage </button></a>
  </div>
{% endblock %}