* {
  font-family: 'Mulish', sans-serif;
}

.home-title-container {
  text-align: center;
  margin-bottom: 70px;
  font-size: 48px;
}

.university-search-container, .country-search-container {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #FF7070;
  max-width: 700px;
}

.university-search-container {
  border-radius: 25px 25px 0px 0px;
}

.university-search-bar, .country-search-bar {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.university-search-bar > *, .country-search-bar > * {
  margin-bottom: 15px;
}

.search-input {
  min-width: 440px;
  min-height: 36px;
  border-radius: 24px;
  border-color: #FF7070;
  border-width: 1px;
}

.search-button {
  font-family: 'Mulish', sans-serif;
  min-width: 140px;
  align-self: center;
  min-height: 36px;
  border-radius: 25px;
  background-color: #FF7070;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.search-world-container {
  padding: 28px 0px 30px 0px;
  display: flex;
  justify-content: center;
  border: 1px solid #FF7070;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 0px 0px 25px 25px;
}

.search-world-button {
  font-family: 'Mulish', sans-serif;
  color: #FFFFFF;
  min-width: 270px;
  min-height: 36px;
  border-radius: 25px;
  background-color: #FF7070;
  border: none;
  cursor: pointer;
}

.search-world-button a {
  color: inherit;
  text-decoration: none;
}