* {
    font-family: 'Mulish', sans-serif;
}

  .univ-rank-title {
    text-align: center;
    font-size: 42px;
  }
  
  .all-univ-container {
    margin-top: 10px;
    display:flex;
    justify-content: center;
  }

  .univ-container, tr {
    width: 200px;
    border-style: solid;
    border-width: thin;
    border: 1px solid #FF7070;
    border-radius: 15px;
  }

  .univ-container, td {
    table-layout: fixed;
    width: 1000px;
  }

  .univ-container, th {
    width: 200px;
  }
  
  .univ-rank-nav-container {
    min-width: 824px;
    display: flex;
    justify-content: center;
  }
  
  .univ-nav {
    border-radius: 25px;
    text-align: center;
    border: 1px solid #FFFFFF;
    min-width: 270px;
    margin-bottom: 10px;
  }
  
  .univ-nav:nth-child(1) {
    z-index: 1;
  }
  .univ-nav:nth-child(2) {
    background-color: #FFFFFF;
    margin-left: -40px;
    z-index: 2;
  }
  .univ-nav:nth-child(3) {
    margin-left: -40px;
    background-color: #FFFFFF;
    z-index: 3;
  }
  
  .univ-rank-year-container {
    margin: 0 auto;
    display: flex;
    max-width: 120px;
    flex-direction: column;
    justify-content: center;
  }
  
  .rankings-container {
    margin-top: 10px;
    display:flex;
    justify-content: center;
  }
  
  .univ-rankings {
    min-width: 820px;
  }
  
  .univ-rankings, tr, th, td {
    padding: 10px;
    border: none;
    border-collapse: collapse;
  }
  
  .back-button{
    margin-top: 15px;
    text-align:center;
    border-radius: 15px;
    border: 1px solid #FF7070;
    background: #FF7070;
    cursor: pointer;
    padding: 15px;
    font-size: 24px;
    color:#FFFFFF;
  }
  
  .div-button{
    text-align:center;
  }