* {
  font-family: 'Mulish', sans-serif;
}

.univ-rank-title {
  text-align: center;
  font-size: 42px;
}

.univ-rank-nav-container {
  min-width: 824px;
  display: flex;
  justify-content: center;
}

.univ-nav {
  border-radius: 25px;
  text-align: center;
  border: 1px solid #FF7070;
  min-width: 270px;
  margin-bottom: 10px;
}

.univ-nav:nth-child(1) {
  z-index: 1;
}
.univ-nav:nth-child(2) {
  background-color: #FFFFFF;
  margin-left: -40px;
  z-index: 2;
}
.univ-nav:nth-child(3) {
  margin-left: -40px;
  background-color: #FFFFFF;
  z-index: 3;
}

.univ-rank-year-container {
  margin: 0 auto;
  display: flex;
  max-width: 120px;
  flex-direction: column;
  justify-content: center;
}

.univ-rank-year-container form * {
  margin-bottom: 5px;
}

.back-button{
  margin-top: 15px;
  text-align:center;
  border-radius: 15px;
  border: 1px solid #FF7070;
  background: #FF7070;
  cursor: pointer;
  padding: 15px;
  font-size: 24px;
  color:#FFFFFF;
}

.div-button{
  text-align:center;
}

.filter-button {
  border-radius: 20px;
  border: 1px solid #FF7070;
  background: #FFFFFF;
  cursor: pointer;
}

.view-details-button {
  border-radius: 20px;
  border: 1px solid #FF7070;
  background: #FFFFFF;
  cursor: pointer;
  align-items: center;
}

.rankings-container {
  margin-top: 10px;
  display:flex;
  justify-content: center;
}

.univ-rankings {
  min-width: 820px;
}

.univ-rankings, tr, th, td {
  padding: 10px;
  border: 1px solid #FF7070;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-nav-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.page-nav-container a {
  padding: 5px;
  border: 1px solid #FF7070;
  border-radius: 25px;
}

.active {
  background-color: #FF7070!important;
  color: #FFFFFF;
}