{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <title> Know Your Rank </title>
        {% block stylesheet %}
        {% endblock %}

    </head>

    <body>

        {% block content %}
        {% endblock %}
        
        </div>
    </body>
</html>
