{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="home-container">
    <div class="home-title-container">
      <p> University Ranking </p>
    </div>

    <div class="university-search-container">
      <form class='university-search-bar' action="{% url 'ranking:university' %}" method='POST' >
        {% csrf_token %}
        <label for="univ-search"> Search For A Specific University </label>
        <input type="text" name='univ' class='search-input'
          placeholder="ex: Harvard University">
        <button class="search-button">Search</button>
      </form>
    </div>

    <div class="country-search-container">
      <form class='country-search-bar' action="{% url 'ranking:country' %}" method="get">
        {% csrf_token %}
        <label for="country-search"> Search For A National List </label>
        <input type="text" name='country' class='search-input'
          placeholder="ex: Spain">
        <button class="search-button">Search</button>
      </form>
    </div>
    <div class="search-world-container">
      <button class='search-world-button'>
        <a href="{% url 'ranking:world' %}"> See All World Rankings </a>
      </button>
    </div>
  </div>
{% endblock %}
